ODOO_VERSION=18.0
POSTGRES_VERSION=15
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

N8N_VERSION=2.23.2
N8N_PORT=5678
GENERIC_TIMEZONE=Atlantic/Canary

LOCALSTACK_IMAGE=localstack/localstack-pro
LOCALSTACK_AUTH_TOKEN=REPLACE_WITH_YOUR_AUTH_TOKEN
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=eu-west-1

TELEGRAM_BOT_TOKEN=REPLACE_WITH_YOUR_TELEGRAM_BOT_TOKEN